In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/fm23_preprocessed.csv", sep=",")

In [5]:
df["Position"].unique()

array(['D (C)', 'ST (C)', 'M (L), AM (RLC), ST (C)', 'AM (RLC), ST (C)',
       'AM (L), ST (C)', 'AM (RLC)', 'WB/M/AM (RL)', 'DM, M/AM (C)',
       'M (C)', 'M/AM (LC), ST (C)', 'D (RLC)', 'DM, M (C)',
       'M (LC), AM (RLC)', 'D (LC)', 'M/AM (RLC), ST (C)',
       'AM (LC), ST (C)', 'AM (R), ST (C)', 'D (LC), WB (L)',
       'M (C), AM (LC)', 'D/WB (L)', 'GK', 'D/WB/M (R)',
       'M (R), AM (RC), ST (C)', 'AM (C)', 'M/AM (C)', 'M (LC), AM (C)',
       'D/WB (R)', 'DM, M/AM (C), ST (C)', 'AM (LC)', 'M/AM (RL)',
       'M (C), AM (RLC), ST (C)', 'M/AM (RLC)', 'M (C), AM (RC)',
       'WB (R), M/AM (RC)', 'AM (RL), ST (C)', 'D/WB/M (L)',
       'M/AM (L), ST (C)', 'M (L), AM (RLC)', 'D/WB (R), DM, M (C)',
       'D/WB/M/AM (L)', 'AM (C), ST (C)', 'D (C), DM', 'M/AM (RC)',
       'D/WB (L), DM, M/AM (LC)', 'M/AM (C), ST (C)', 'M (RC), AM (RLC)',
       'M (RC)', 'D/WB/M (R), AM (RL)', 'D (RC)', 'AM (RL)', 'DM, M (RC)',
       'D (RLC), WB (RL)', 'DM, M (RLC)', 'D/WB/M/AM (R)', 'D (R)',
       'D (L), DM, M (LC)', 'AM (RC), ST (C)', 'D (RC), WB (R)', 'M (LC)',
       'M/AM (R), ST (C)', 'D (RC), DM, M (C)', 'D/WB (RL)',
       'M (L), AM (RL)', 'M (L), AM (LC)', 'M/AM (LC)',
       'D/WB (R), M (RC), AM (R)', 'DM', 'M (C), AM (RLC)',
       'M/AM (RL), ST (C)', 'WB/M (R), AM (RL)', 'WB (L), AM (RL)',
       'D (R), DM, M (C)', 'DM, M (LC)', 'M/AM (L)', 'M (R), AM (RL)',
       'D (R), DM', 'AM (L)', 'D (RL), WB (R)', 'D (RC), DM',
       'D/WB (R), M (RC)', 'M (R), AM (RLC)', 'D/WB (RL), DM, M (C)',
       'D (L), M (C), AM (RLC)', 'M/AM (R)', 'D (RL)', 'D/M (RL)',
       'D (C), DM, M (C)', 'M (R), AM (RC)', 'WB (R), DM, M (RLC)',
       'D (L)', 'D/WB (L), M (LC)', 'D/M/AM (RL)', 'WB (RL), M (LC)',
       'WB/M/AM (R), ST (C)', 'WB (RL), M/AM (C)',
       'D (RL), WB (R), AM (RL)', 'WB (R), M (RLC), AM (RL)',
       'WB/M (L), AM (RL)', 'D (R), M (RC)', 'D/M/AM (R), ST (C)',
       'WB (R), M/AM (RL)', 'AM (RC)', 'D/WB (R), AM (RL)',
       'M (R), AM (RLC), ST (C)', 'D/WB (R), M/AM (C)', 'M (RC), AM (R)',
       'WB/M (L), AM (LC)', 'D (R), M/AM (C)', 'D/WB (R), DM',
       'WB (R), M (RC)', 'M/AM (RC), ST (C)', 'AM (R)',
       'M (RL), AM (RLC)', 'M (RL), AM (RLC), ST (C)',
       'M (L), AM (RL), ST (C)', 'D (LC), WB (L), DM', 'D/WB (L), M (C)',
       'D (LC), WB/M (L)', 'M (R), AM (RL), ST (C)',
       'WB (R), M (RL), AM (RLC)', 'D (L), WB/M/AM (RL)',
       'D (RC), WB (R), DM', 'D/WB (L), DM, M (C)', 'D/WB (RL), M (R)',
       'D/WB (R), DM, M (RC), AM (R)', 'DM, M (C), AM (RLC)',
       'D/WB (R), M/AM (RL)', 'DM, M (C), AM (LC)',
       'WB (R), DM, M (RLC), AM (C)', 'D (RLC), WB (R)',
       'D/WB (L), DM, M (LC), AM (C)', 'D (LC), DM, M (C)',
       'D (RLC), WB (R), DM', 'D/WB (L), M/AM (C)', 'D (RC), WB/M (R)',
       'D/WB (L), DM, M (LC)', 'D (L), WB (RL), M (L), AM (LC)',
       'D/WB (L), M/AM (LC)', 'D/WB/M (RL)', 'D (RC), WB/M (L)',
       'D (C), DM, M (RC), AM (C)', 'D (C), DM, M/AM (C)',
       'D/WB (R), DM, M (R)', 'WB/M/AM (L)', 'D (RC), WB (R), DM, M (C)',
       'D (RL), WB/M/AM (R)', 'D/WB/M/AM (R), ST (C)', 'M (RLC), AM (C)',
       'M (RLC), AM (RL)', 'DM, M/AM (LC)', 'WB (L), M/AM (LC)',
       'D (LC), DM', 'D/WB (RL), DM', 'M (RC), AM (C)', 'D/WB (R), M (C)',
       'D (RL), DM, M (C)', 'DM, M (C), AM (L)',
       'D (RL), WB (R), DM, M (C)', 'D (RL), WB/M (R)',
       'D/WB (RL), DM, M (RC)', 'D/WB/M/AM (RL)', 'WB (R), M/AM (RLC)',
       'D (RLC), DM, M (C)', 'M (C), AM (LC), ST (C)', 'D/WB (L), DM',
       'D/WB (RL), M/AM (R)', 'D/WB (R), M/AM (RC)',
       'DM, M (RC), AM (RLC)', 'D/WB/M/AM (L), ST (C)', 'DM, M/AM (RC)',
       'D/WB/M (L), AM (RL)', 'M (RLC), AM (RC)', 'D (RL), WB (L)',
       'D (RL), WB (R), DM, M (R)', 'DM, M (C), AM (RL)',
       'D (LC), WB (L), DM, M (LC)', 'D/WB (L), DM, M (L)',
       'D (L), M (RL), AM (L)', 'D/M/AM (R)', 'D (LC), WB (L), DM, M (C)',
       'D/WB (L), DM, M/AM (L)', 'D/WB (RL), M (L), AM (RL)',
       'D/WB (L), M (RL)', 'DM, M (C), ST (C)', 'DM, M (RLC), AM (C)',
       'D (RL), AM (R)', 'D (L), DM, M (C)', 'D (C), DM, M (LC)',
       'D (C), M/AM (RC)', 'D (R), DM, M/AM (C)',
       'M (L), AM (LC), ST (C)', 'D/WB (R), M (RL)', 'M (RL), AM (R)',
       'DM, M/AM (L)', 'D (RL), WB/M (L)', 'D (R), WB (RL)',
       'DM, M (C), AM (RC)', 'D (C), DM, M (RC)', 'D (RC), M (R)',
       'D (RL), WB (L), DM', 'DM, M (RC), AM (C)', 'M (RLC), AM (L)',
       'D (C), ST (C)', 'M (LC), AM (RC), ST (C)', 'M (RC), AM (RL)',
       'D/WB/M (L), AM (LC)', 'D/WB (R), DM, M (RC)', 'D (R), M (C)',
       'WB (R), M/AM (C)', 'M (RL), AM (RC)', 'WB (R), M (RC), AM (C)',
       'M (RLC)', 'D (RLC), DM', 'WB/M/AM (R)', 'DM, M (LC), AM (C)',
       'M (R), AM (C), ST (C)', 'M (C), AM (RL)', 'M (C), AM (L)',
       'D (R), WB (RL), M (C)', 'WB/M (R), AM (RC)', 'D (RLC), WB/M (R)',
       'M (L)', 'WB (L)', 'D (RC), DM, M (RC)',
       'D (RC), WB (R), DM, M (R)', 'D/M (L)', 'DM, M (LC), AM (L)',
       'D (LC), WB (L), DM, M (L)', 'D (RL), WB (R), DM', 'M (R)',
       'D (LC), M (C)', 'D (R), DM, M (RC)', 'D (RC), WB (R), ST (C)',
       'WB (L), DM, M (LC)', 'D (RC), WB (R), DM, M (RC)',
       'M (RC), AM (LC)', 'M (RL)', 'D/WB (L), AM (RL)',
       'D/WB (R), DM, M/AM (RC)', 'D/WB (L), M (C), AM (L)',
       'D (R), WB/M (L)', 'D (R), M (L)', 'M (C), AM (R)',
       'D (LC), WB/M/AM (L)', 'D (RL), DM', 'D/WB/AM (R)',
       'D (RLC), WB (L)', 'D (L), M (RL)', 'D (RC), WB/M/AM (R)',
       'D/M (R)', 'D/AM (L)', 'M (RL), AM (C)', 'WB/M (L)',
       'M (C), AM (RC), ST (C)', 'WB (R), DM, M (RC)',
       'D (RLC), WB/M (RL)', 'WB/M (R), AM (RC), ST (C)', 'WB/M (RL)',
       'WB (RL), M (RLC)', 'WB (L), M/AM (RL)', 'D (R), WB (RL), M (R)',
       'WB/M (R), AM (RLC), ST (C)', 'D (R), WB/M (RL)',
       'WB (L), M (LC), AM (L)', 'D (R), WB/M/AM (RL)', 'WB/M (R)',
       'D/M (C)', 'D/WB (RL), M (L)', 'WB (R), DM', 'D (L), DM',
       'D/WB (R), M (RLC)', 'D/WB (RL), M (C)', 'WB/M/AM (L), ST (C)',
       'D/WB (L), M/AM (RL)', 'D/M (R), AM (RL)',
       'D/WB (L), DM, M (LC), AM (L)', 'D (R), AM (RL)', 'D (LC), M (L)',
       'D (C), M/AM (R), ST (C)', 'D (LC), WB (L), M (LC), AM (L)',
       'D (RL), M (R)', 'D/WB (R), M/AM (RL), ST (C)',
       'D (RC), WB/M/AM (R), ST (C)', 'DM, M (RC), AM (R), ST (C)',
       'D (RL), WB (L), M (RL)', 'D (C), DM, M (C), ST (C)',
       'M (LC), AM (RL)', 'M (LC), AM (L)', 'D (R), M (RC), AM (RLC)',
       'D (R), DM, M (R)', 'M (C), ST (C)', 'D (R), DM, M (RC), AM (R)',
       'D (L), DM, M (LC), AM (L)', 'M (RL), ST (C)',
       'DM, M (RLC), AM (R)', 'D (RL), WB/M/AM (R), ST (C)', 'D/M/AM (L)',
       'M (RLC), AM (LC)', 'M (RC), AM (C), ST (C)',
       'D/WB (L), DM, M/AM (RLC)', 'WB/M (L), AM (LC), ST (C)',
       'D (RL), M (RLC), AM (RL)', 'WB (R), AM (RL)',
       'WB/M (L), AM (RLC)', 'D (RLC), M (R)', 'WB (L), M (LC)',
       'D (LC), WB (L), DM, M/AM (C)', 'WB (R), DM, M (C)',
       'WB (L), M (R), AM (RL)', 'WB/M (RL), AM (RLC)',
       'M (RL), AM (RC), ST (C)', 'WB (R), M/AM (RL), ST (C)',
       'WB (L), M/AM (RLC)', 'D/WB/M (R), AM (RC)',
       'D/WB (L), M (LC), AM (L)', 'WB (L), DM, M (LC), AM (C)',
       'WB (R), M (C), AM (RC)', 'D (C), WB (R), M (C)',
       'D/WB (R), DM, M (RLC), AM (RL)', 'D (R), WB (RL), M/AM (R)',
       'M (R), AM (L)', 'D (L), M (C)', 'WB (R), AM (RLC)', 'WB (RL)',
       'WB/AM (RL)', 'D (R), ST (C)', 'WB (R)', 'D (C), WB (L)',
       'WB (L), M/AM (C)', 'D (R), M (C), AM (R)',
       'WB (L), AM (RL), ST (C)', 'WB (R), M (RC), AM (R)',
       'WB (R), AM (C)', 'D (LC), WB (L), M (C)',
       'WB (R), DM, M (RC), AM (C)', 'WB (L), M (RL), AM (RLC)',
       'WB (R), DM, M/AM (RC)', 'D (LC), WB/AM (L)', 'WB/M (R), AM (RLC)',
       'D/WB/M (L), AM (RLC)', 'D (RLC), WB (R), AM (C)',
       'DM, M/AM (RLC)', 'D/M (R), AM (RL), ST (C)', 'D/WB/AM (L)',
       'D (R), M/AM (RL)', 'D (RL), WB (R), M (C)',
       'D/WB/M (R), AM (RLC)', 'D (R), WB/AM (RL)',
       'D (L), WB (R), DM, M (C)', 'D (L), AM (C)', 'D/WB (L), AM (R)',
       'D/AM (R)'], dtype=object)

In [6]:
def get_positions(input_string):

    all_positions = []

    for element in input_string.split(','):
        # print("Element", element)
        
        # Step 1: Extract text in parentheses if there is a slash
        try:
            index_of_parentheses = element.index('(')
        except ValueError:
            index_of_parentheses = -1

        if index_of_parentheses >= 0:
            roles = element[:element.index('(')]
            roles = roles.split('/')
            positions = element[element.index('('):].strip("()")
            # print("Position: ", position)
            # extract individual letters from positions (so R, L, C) and save to list as (R), (L), (C)
            positions_list = ['(' + letter + ')' for string in positions for letter in string]

            for role in roles:
                for position in positions_list:
                    all_positions.append(f"{role.strip()} {position}")


        else:
            all_positions.append(f"{element.strip()}")

    # Print the result
    return all_positions

In [7]:
import re

#create list of unique positions
all_positions = []
for i in df["Position"]:
    positions = get_positions(i)
    for pos in positions:
        if pos not in all_positions:
            all_positions.append(pos)
    # #just for debugging
    #     print(pos)
    # print()

all_positions

# Example: 'WB/M/AM (RL)'
# 1. if there is a shlash / -> extract (RL)
# 2. split 'WB/M/AM' by slash
# 3. add '(RL)' for each element

['D (C)',
 'ST (C)',
 'M (L)',
 'AM (R)',
 'AM (L)',
 'AM (C)',
 'WB (R)',
 'WB (L)',
 'M (R)',
 'DM',
 'M (C)',
 'D (R)',
 'D (L)',
 'GK']

In [8]:
# get all positions as list and save them in a list to later replace existing column
positions_total = []
for i in df["Position"]:
    positions = get_positions(i)
    positions_total.append(positions)

# overwrite existing column
df['Position'] = positions_total
df.head()

,UID,Name,DoB,Nat,Division,Club,Preferred Foot,Position,Height,Weight,Age,Transfer Value,Wage,Style
0,831079,Giorgio Chiellini,14/8/1984,ITA,Major League Soccer,LAFC,Left,[D (C)],187,85,37,NaN,90500.0,Leader
1,962988,Gonzalo Higuaín,10/12/1987,ARG,Major League Soccer,Inter Miami,Right,[ST (C)],184,89,34,495000.0,487000.0,Intelligent
2,5132312,Gareth Bale,16/7/1989,WAL,Major League Soccer,LAFC,Left,"[M (L), AM (R), AM (L), AM (C), ST (C)]",185,82,32,3075000.0,135000.0,Creative
3,51000001,Carlos Vela,1/3/1989,MEX,Major League Soccer,LAFC,Left,"[AM (R), AM (L), AM (C), ST (C)]",178,74,33,NaN,340000.0,Creative
4,43043933,Lorenzo Insigne,4/6/1991,ITA,Major League Soccer,Toronto FC,Right,"[AM (L), ST (C)]",163,59,31,NaN,1176000.0,Creative

In [9]:
mapping_positions = {'M (L)':'LM',
                     'M (C)':'CM',
                     'DM':'CDM',
                     'M (R)':'RM',
                     'AM (C)':'CAM',
                     'GK':'GK',
                     'D (R)':'RB',
                     'ST (C)':'ST',
                     'D (C)':'CB',
                     'D (L)':'LB',
                     'AM (R)':'RW',
                     'AM (L)':'LW',
                     'WB (R)':'RWB',
                     'WB (L)':'LWB'}

#map positions (still in list format)
df["Position"] = df["Position"].apply(lambda x: [mapping_positions[pos] for pos in x if pos is not None] if len(x)>0 else [])

#create string attribute only
df["Position_string"] = df["Position"].apply(lambda x: ', '.join(x))

In [10]:
df.head()

,UID,Name,DoB,Nat,Division,Club,Preferred Foot,Position,Height,Weight,Age,Transfer Value,Wage,Style,Position_string
0,831079,Giorgio Chiellini,14/8/1984,ITA,Major League Soccer,LAFC,Left,[CB],187,85,37,NaN,90500.0,Leader,CB
1,962988,Gonzalo Higuaín,10/12/1987,ARG,Major League Soccer,Inter Miami,Right,[ST],184,89,34,495000.0,487000.0,Intelligent,ST
2,5132312,Gareth Bale,16/7/1989,WAL,Major League Soccer,LAFC,Left,"[LM, RW, LW, CAM, ST]",185,82,32,3075000.0,135000.0,Creative,"LM, RW, LW, CAM, ST"
3,51000001,Carlos Vela,1/3/1989,MEX,Major League Soccer,LAFC,Left,"[RW, LW, CAM, ST]",178,74,33,NaN,340000.0,Creative,"RW, LW, CAM, ST"
4,43043933,Lorenzo Insigne,4/6/1991,ITA,Major League Soccer,Toronto FC,Right,"[LW, ST]",163,59,31,NaN,1176000.0,Creative,"LW, ST"

In [12]:
df.to_csv("data/fm23_preprocessed.csv", index=False)