In [9]:
# This code combines all of the three gold standards into one big file

import pandas as pd

# EA and TM Dataset
perfect_matches_ea_tm = pd.read_csv("ea_tm/perfect_matches_ea_tm.csv")
corner_cases_ea_tm = pd.read_csv("ea_tm/corner_cases_ea_tm.csv")
non_matches_ea_tm = pd.read_csv("ea_tm/non_matches_ea_tm.csv")

# FM and EA Dataset
perfect_matches_fm_ea = pd.read_csv("fm_ea/perfect_matches_fm_ea_v2.csv")
corner_cases_fm_ea = pd.read_csv("fm_ea/corner_cases_fm_ea_v2.csv")
non_matches_fm_ea = pd.read_csv("fm_ea/non_matches_fm_ea_v2.csv")

# FM and TM Dataset
perfect_matches_fm_tm = pd.read_csv("fm_tm/perfect_matches_tm_fm_v2.csv")
corner_cases_fm_tm = pd.read_csv("fm_tm/corner_cases_tm_fm_v2.csv")
non_matches_fm_tm = pd.read_csv("fm_tm/non_matches_tm_fm_v2.csv")

# Create list containing all datasets
list = [
    # EA and TM Dataset
    perfect_matches_ea_tm,
    corner_cases_ea_tm,
    non_matches_ea_tm,

    # FM and EA Dataset
    perfect_matches_fm_ea,
    corner_cases_fm_ea,
    non_matches_fm_ea,

    # FM and TM Dataset
    perfect_matches_fm_tm,
    corner_cases_fm_tm,
    non_matches_fm_tm,
]


# Concat all of the datasets
gold_standard = pd.concat(list)

overall_number_matches = sum(gold_standard['match'] == True)
overall_number_nonmatches = len(gold_standard) - overall_number_matches

print(f"Number of rows: {len(gold_standard)}")
print(f"Number of matches: {overall_number_matches}")
print(f"Number of non-matches: {overall_number_nonmatches}")

gold_standard.head()

Number of rows: 2400
Number of matches: 1330
Number of non-matches: 1070

C:\Users\fabir\AppData\Local\Temp\ipykernel_3840\739738198.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  gold_standard = pd.concat(list)

,df1,df2,name1,birthdate1,name2,birthdate2,nat1,nat2,club1,club2,score,match
0,tm_3874,tm_3874,Brian Plat,2000-04-05,Brian Plat,2000-04-05,Netherlands,Netherlands,FC Volendam,FC Volendam,1.0,True
1,tm_5250,tm_5250,Cassiano,1989-06-16,Cassiano,1989-06-16,Brazil,Brazil,GD Estoril Praia,GD Estoril Praia,1.0,True
2,tm_2026,tm_2026,Simon Dorfner,2004-09-22,Simon Dorfner,2004-09-22,Germany,Germany,SpVgg Unterhaching,SpVgg Unterhaching,1.0,True
3,tm_1713,tm_1713,Baran Mogultay,2004-05-18,Baran Mogultay,2004-05-18,Germany,Germany,MSV Duisburg,MSV Duisburg,1.0,True
4,tm_4080,tm_4080,Kamal Sowah,2000-01-09,Kamal Sowah,2000-01-09,Ghana,Ghana,Club Brugge KV,Club Brugge KV,1.0,True

In [ ]:
# Save gold standard to disk
gold_standard.to_csv("gold_standard.csv")