In [2]:
import numpy as np
import pandas as pd
import Levenshtein

In [42]:
def get_similarity_matrix(similarity_function, col1, col2):

    similarity_matrix = np.zeros((len(col1), len(col2)))

    for i, entry1 in enumerate(col1):
        for j, entry2 in enumerate(col2):

            similarity_matrix[i, j] = 1 - (similarity_function(entry1, entry2) / max(len(entry1), len(entry2)))
        print(f"Row {i}")     

    return similarity_matrix

In [43]:
def create_result(df1, df2, similarity_matrix):
    matches = pd.DataFrame()
    matches['df1'] = df1['id']
    matches['df2'] = df2.iloc[similarity_matrix.argmax(axis=1)]['id'].values
    matches['name1'] = df1['name'].values
    matches['name2'] = df2.iloc[similarity_matrix.argmax(axis=1)]['name'].values
    matches['score'] = similarity_matrix.max(axis=1)
    
    return matches

In [38]:
df_eafc = pd.read_xml('../Football-Project/data/xml-files/eafc_final.xml')
df_fm23 = pd.read_xml('../Football-Project/data/xml-files/fm23_final.xml')
df_tm = pd.read_xml('../Football-Project/data/xml-files/tm_final.xml')

In [39]:
df_eafc_sampled = df_eafc.sample(n=100, random_state=42)
df_fm23_sampled = df_fm23.sample(n=100, random_state=42)
df_tm_sampled = df_tm.sample(n=100, random_state=42)

In [40]:
similarity_matrix = get_similarity_matrix(Levenshtein.distance, df_fm23_sampled['name'], df_tm['name'])

Row 0
Row 1
Row 2
Row 3
Row 4
Row 5
Row 6
Row 7
Row 8
Row 9
Row 10
Row 11
Row 12
Row 13
Row 14
Row 15
Row 16
Row 17
Row 18
Row 19
Row 20
Row 21
Row 22
Row 23
Row 24
Row 25
Row 26
Row 27
Row 28
Row 29
Row 30
Row 31
Row 32
Row 33
Row 34
Row 35
Row 36
Row 37
Row 38
Row 39
Row 40
Row 41
Row 42
Row 43
Row 44
Row 45
Row 46
Row 47
Row 48
Row 49
Row 50
Row 51
Row 52
Row 53
Row 54
Row 55
Row 56
Row 57
Row 58
Row 59
Row 60
Row 61
Row 62
Row 63
Row 64
Row 65
Row 66
Row 67
Row 68
Row 69
Row 70
Row 71
Row 72
Row 73
Row 74
Row 75
Row 76
Row 77
Row 78
Row 79
Row 80
Row 81
Row 82
Row 83
Row 84
Row 85
Row 86
Row 87
Row 88
Row 89
Row 90
Row 91
Row 92
Row 93
Row 94
Row 95
Row 96
Row 97
Row 98
Row 99

In [ ]:
similarity_matrix = get_similarity_matrix(, df_fm23_sampled['birthday'], df_tm['birthday'])

In [45]:
create_result(df_fm23_sampled, df_tm, similarity_matrix)

            df1      df2               name1               name2     score
12621  fm_13621  tm_4550     Yusuf Akhamrich          Yusuf Sari  0.600000
15641  fm_16641  tm_5467        Arnau Pradas         Arnau Tenas  0.666667
450     fm_1450  tm_7369           Max Alves          Max Aarons  0.600000
19      fm_1019  tm_4090     Christian Fuchs   Christian Burgess  0.705882
5168    fm_6168  tm_6113        Adam Marušić        Adam Marusic  0.833333
...         ...      ...                 ...                 ...       ...
14631  fm_15631  tm_9295        Sergi Enrich        Sergi Enrich  1.000000
13136  fm_14136  tm_6562  Robert Lewandowski  Robert Lewandowski  1.000000
8950    fm_9950  tm_4607       Mustafa Bozan    Mustafa Erdilman  0.625000
3290    fm_4290  tm_3415      Mohammad Aswan      Mohammed Maran  0.714286
1493    fm_2493  tm_5853    Vincent Koziello      Vincent Sierro  0.687500

[100 rows x 5 columns]

In [51]:
def tokenize_date(date):
    # Tokenize the date string into year, month, and day
    return set(date.split('-'))

def date_similarity(date1, date2, threshold=1):
    tokens1 = tokenize_date(date1)
    tokens2 = tokenize_date(date2)
    
    intersection = len(tokens1.intersection(tokens2))
    union = len(tokens1.union(tokens2))
    jaccard_similarity = intersection / union
    print(intersection, union, jaccard_similarity)
    if jaccard_similarity >= threshold:
        return True
    else:
        return False

date1 = "2000-09-14"
date2 = "2000-14-09"
threshold = 0.7  # You can adjust this threshold as needed

if date_similarity(date1, date2, threshold):
    print("Dates are similar.")
else:
    print("Dates are not similar.")

3 3 1.0
Dates are similar.

In [ ]:
print(df_eafc['name'][0], df_fm23['name'][14173])

Rúben Fernandes Rúben Fernandes