In [1]:
import pandas as pd

In [85]:
fm23Original = pd.read_csv("data/fm23_semi_preprocessed.csv", sep=",")

In [89]:
fm23Original["Position"].unique()

array(['D (C)', 'ST (C)', 'M (L), AM (RLC), ST (C)', 'AM (RLC), ST (C)',
       'AM (L), ST (C)', 'AM (RLC)', 'WB/M/AM (RL)', 'DM, M/AM (C)',
       'M (C)', 'M/AM (LC), ST (C)', 'D (RLC)', 'DM, M (C)',
       'M (LC), AM (RLC)', 'D (LC)', 'M/AM (RLC), ST (C)',
       'AM (LC), ST (C)', 'AM (R), ST (C)', 'D (LC), WB (L)',
       'M (C), AM (LC)', 'D/WB (L)', 'GK', 'D/WB/M (R)',
       'M (R), AM (RC), ST (C)', 'AM (C)', 'M/AM (C)', 'M (LC), AM (C)',
       'D/WB (R)', 'DM, M/AM (C), ST (C)', 'AM (LC)', 'M/AM (RL)',
       'M (C), AM (RLC), ST (C)', 'M/AM (RLC)', 'M (C), AM (RC)',
       'WB (R), M/AM (RC)', 'AM (RL), ST (C)', 'D/WB/M (L)',
       'M/AM (L), ST (C)', 'M (L), AM (RLC)', 'D/WB (R), DM, M (C)',
       'D/WB/M/AM (L)', 'AM (C), ST (C)', 'D (C), DM', 'M/AM (RC)',
       'D/WB (L), DM, M/AM (LC)', 'M/AM (C), ST (C)', 'M (RC), AM (RLC)',
       'M (RC)', 'D/WB/M (R), AM (RL)', 'D (RC)', 'AM (RL)', 'DM, M (RC)',
       'D (RLC), WB (RL)', 'DM, M (RLC)', 'D/WB/M/AM (R)', 'D (R)',
       'D (L), DM, M (LC)', 'AM (RC), ST (C)', 'D (RC), WB (R)', 'M (LC)',
       'M/AM (R), ST (C)', 'D (RC), DM, M (C)', 'D/WB (RL)',
       'M (L), AM (RL)', 'M (L), AM (LC)', 'M/AM (LC)',
       'D/WB (R), M (RC), AM (R)', 'DM', 'M (C), AM (RLC)',
       'M/AM (RL), ST (C)', 'WB/M (R), AM (RL)', 'WB (L), AM (RL)',
       'D (R), DM, M (C)', 'DM, M (LC)', 'M/AM (L)', 'M (R), AM (RL)',
       'D (R), DM', 'AM (L)', 'D (RL), WB (R)', 'D (RC), DM',
       'D/WB (R), M (RC)', 'M (R), AM (RLC)', 'D/WB (RL), DM, M (C)',
       'D (L), M (C), AM (RLC)', 'M/AM (R)', 'D (RL)', 'D/M (RL)',
       'D (C), DM, M (C)', 'M (R), AM (RC)', 'WB (R), DM, M (RLC)',
       'D (L)', 'D/WB (L), M (LC)', 'D/M/AM (RL)', 'WB (RL), M (LC)',
       'WB/M/AM (R), ST (C)', 'WB (RL), M/AM (C)',
       'D (RL), WB (R), AM (RL)', 'WB (R), M (RLC), AM (RL)',
       'WB/M (L), AM (RL)', 'D (R), M (RC)', 'D/M/AM (R), ST (C)',
       'WB (R), M/AM (RL)', 'AM (RC)', 'D/WB (R), AM (RL)',
       'M (R), AM (RLC), ST (C)', 'D/WB (R), M/AM (C)', 'M (RC), AM (R)',
       'WB/M (L), AM (LC)', 'D (R), M/AM (C)', 'D/WB (R), DM',
       'WB (R), M (RC)', 'M/AM (RC), ST (C)', 'AM (R)',
       'M (RL), AM (RLC)', 'M (RL), AM (RLC), ST (C)',
       'M (L), AM (RL), ST (C)', 'D (LC), WB (L), DM', 'D/WB (L), M (C)',
       'D (LC), WB/M (L)', 'M (R), AM (RL), ST (C)',
       'WB (R), M (RL), AM (RLC)', 'D (L), WB/M/AM (RL)',
       'D (RC), WB (R), DM', 'D/WB (L), DM, M (C)', 'D/WB (RL), M (R)',
       'D/WB (R), DM, M (RC), AM (R)', 'DM, M (C), AM (RLC)',
       'D/WB (R), M/AM (RL)', 'DM, M (C), AM (LC)',
       'WB (R), DM, M (RLC), AM (C)', 'D (RLC), WB (R)',
       'D/WB (L), DM, M (LC), AM (C)', 'D (LC), DM, M (C)',
       'D (RLC), WB (R), DM', 'D/WB (L), M/AM (C)', 'D (RC), WB/M (R)',
       'D/WB (L), DM, M (LC)', 'D (L), WB (RL), M (L), AM (LC)',
       'D/WB (L), M/AM (LC)', 'D/WB/M (RL)', 'D (RC), WB/M (L)',
       'D (C), DM, M (RC), AM (C)', 'D (C), DM, M/AM (C)',
       'D/WB (R), DM, M (R)', 'WB/M/AM (L)', 'D (RC), WB (R), DM, M (C)',
       'D (RL), WB/M/AM (R)', 'D/WB/M/AM (R), ST (C)', 'M (RLC), AM (C)',
       'M (RLC), AM (RL)', 'DM, M/AM (LC)', 'WB (L), M/AM (LC)',
       'D (LC), DM', 'D/WB (RL), DM', 'M (RC), AM (C)', 'D/WB (R), M (C)',
       'D (RL), DM, M (C)', 'DM, M (C), AM (L)',
       'D (RL), WB (R), DM, M (C)', 'D (RL), WB/M (R)',
       'D/WB (RL), DM, M (RC)', 'D/WB/M/AM (RL)', 'WB (R), M/AM (RLC)',
       'D (RLC), DM, M (C)', 'M (C), AM (LC), ST (C)', 'D/WB (L), DM',
       'D/WB (RL), M/AM (R)', 'D/WB (R), M/AM (RC)',
       'DM, M (RC), AM (RLC)', 'D/WB/M/AM (L), ST (C)', 'DM, M/AM (RC)',
       'D/WB/M (L), AM (RL)', 'M (RLC), AM (RC)', 'D (RL), WB (L)',
       'D (RL), WB (R), DM, M (R)', 'DM, M (C), AM (RL)',
       'D (LC), WB (L), DM, M (LC)', 'D/WB (L), DM, M (L)',
       'D (L), M (RL), AM (L)', 'D/M/AM (R)', 'D (LC), WB (L), DM, M (C)',
       'D/WB (L), DM, M/AM (L)', 'D/WB (RL), M (L), AM (RL)',
       'D/WB (L), M (RL)', 'DM, M (C), ST (C)', 'DM, M (RLC), AM (C)',
       'D (RL), AM (R)', 'D (L), DM, M (C)', 'D (C), DM, M (LC)',
       'D (C), M/AM (RC)', 'D (R), DM, M/AM (C)',
       'M (L), AM (LC), ST (C)', 'D/WB (R), M (RL)', 'M (RL), AM (R)',
       'DM, M/AM (L)', 'D (RL), WB/M (L)', 'D (R), WB (RL)',
       'DM, M (C), AM (RC)', 'D (C), DM, M (RC)', 'D (RC), M (R)',
       'D (RL), WB (L), DM', 'DM, M (RC), AM (C)', 'M (RLC), AM (L)',
       'D (C), ST (C)', 'M (LC), AM (RC), ST (C)', 'M (RC), AM (RL)',
       'D/WB/M (L), AM (LC)', 'D/WB (R), DM, M (RC)', 'D (R), M (C)',
       'WB (R), M/AM (C)', 'M (RL), AM (RC)', 'WB (R), M (RC), AM (C)',
       'M (RLC)', 'D (RLC), DM', 'WB/M/AM (R)', 'DM, M (LC), AM (C)',
       'M (R), AM (C), ST (C)', 'M (C), AM (RL)', 'M (C), AM (L)',
       'D (R), WB (RL), M (C)', 'WB/M (R), AM (RC)', 'D (RLC), WB/M (R)',
       'M (L)', 'WB (L)', 'D (RC), DM, M (RC)',
       'D (RC), WB (R), DM, M (R)', 'D/M (L)', 'DM, M (LC), AM (L)',
       'D (LC), WB (L), DM, M (L)', 'D (RL), WB (R), DM', 'M (R)',
       'D (LC), M (C)', 'D (R), DM, M (RC)', 'D (RC), WB (R), ST (C)',
       'WB (L), DM, M (LC)', 'D (RC), WB (R), DM, M (RC)',
       'M (RC), AM (LC)', 'M (RL)', 'D/WB (L), AM (RL)',
       'D/WB (R), DM, M/AM (RC)', 'D/WB (L), M (C), AM (L)',
       'D (R), WB/M (L)', 'D (R), M (L)', 'M (C), AM (R)',
       'D (LC), WB/M/AM (L)', 'D (RL), DM', 'D/WB/AM (R)',
       'D (RLC), WB (L)', 'D (L), M (RL)', 'D (RC), WB/M/AM (R)',
       'D/M (R)', 'D/AM (L)', 'M (RL), AM (C)', 'WB/M (L)',
       'M (C), AM (RC), ST (C)', 'WB (R), DM, M (RC)',
       'D (RLC), WB/M (RL)', 'WB/M (R), AM (RC), ST (C)', 'WB/M (RL)',
       'WB (RL), M (RLC)', 'WB (L), M/AM (RL)', 'D (R), WB (RL), M (R)',
       'WB/M (R), AM (RLC), ST (C)', 'D (R), WB/M (RL)',
       'WB (L), M (LC), AM (L)', 'D (R), WB/M/AM (RL)', 'WB/M (R)',
       'D/M (C)', 'D/WB (RL), M (L)', 'WB (R), DM', 'D (L), DM',
       'D/WB (R), M (RLC)', 'D/WB (RL), M (C)', 'WB/M/AM (L), ST (C)',
       'D/WB (L), M/AM (RL)', 'D/M (R), AM (RL)',
       'D/WB (L), DM, M (LC), AM (L)', 'D (R), AM (RL)', 'D (LC), M (L)',
       'D (C), M/AM (R), ST (C)', 'D (LC), WB (L), M (LC), AM (L)',
       'D (RL), M (R)', 'D/WB (R), M/AM (RL), ST (C)',
       'D (RC), WB/M/AM (R), ST (C)', 'DM, M (RC), AM (R), ST (C)',
       'D (RL), WB (L), M (RL)', 'D (C), DM, M (C), ST (C)',
       'M (LC), AM (RL)', 'M (LC), AM (L)', 'D (R), M (RC), AM (RLC)',
       'D (R), DM, M (R)', 'M (C), ST (C)', 'D (R), DM, M (RC), AM (R)',
       'D (L), DM, M (LC), AM (L)', 'M (RL), ST (C)',
       'DM, M (RLC), AM (R)', 'D (RL), WB/M/AM (R), ST (C)', 'D/M/AM (L)',
       'M (RLC), AM (LC)', 'M (RC), AM (C), ST (C)',
       'D/WB (L), DM, M/AM (RLC)', 'WB/M (L), AM (LC), ST (C)',
       'D (RL), M (RLC), AM (RL)', 'WB (R), AM (RL)',
       'WB/M (L), AM (RLC)', 'D (RLC), M (R)', 'WB (L), M (LC)',
       'D (LC), WB (L), DM, M/AM (C)', 'WB (R), DM, M (C)',
       'WB (L), M (R), AM (RL)', 'WB/M (RL), AM (RLC)',
       'M (RL), AM (RC), ST (C)', 'WB (R), M/AM (RL), ST (C)',
       'WB (L), M/AM (RLC)', 'D/WB/M (R), AM (RC)',
       'D/WB (L), M (LC), AM (L)', 'WB (L), DM, M (LC), AM (C)',
       'WB (R), M (C), AM (RC)', 'D (C), WB (R), M (C)',
       'D/WB (R), DM, M (RLC), AM (RL)', 'D (R), WB (RL), M/AM (R)',
       'M (R), AM (L)', 'D (L), M (C)', 'WB (R), AM (RLC)', 'WB (RL)',
       'WB/AM (RL)', 'D (R), ST (C)', 'WB (R)', 'D (C), WB (L)',
       'WB (L), M/AM (C)', 'D (R), M (C), AM (R)',
       'WB (L), AM (RL), ST (C)', 'WB (R), M (RC), AM (R)',
       'WB (R), AM (C)', 'D (LC), WB (L), M (C)',
       'WB (R), DM, M (RC), AM (C)', 'WB (L), M (RL), AM (RLC)',
       'WB (R), DM, M/AM (RC)', 'D (LC), WB/AM (L)', 'WB/M (R), AM (RLC)',
       'D/WB/M (L), AM (RLC)', 'D (RLC), WB (R), AM (C)',
       'DM, M/AM (RLC)', 'D/M (R), AM (RL), ST (C)', 'D/WB/AM (L)',
       'D (R), M/AM (RL)', 'D (RL), WB (R), M (C)',
       'D/WB/M (R), AM (RLC)', 'D (R), WB/AM (RL)',
       'D (L), WB (R), DM, M (C)', 'D (L), AM (C)', 'D/WB (L), AM (R)',
       'D/AM (R)'], dtype=object)

In [87]:
def get_unique_positions(input_string):

    all_positions = []

    for element in input_string.split(','):
        # print("Element", element)
        
        # Step 1: Extract text in parentheses if there is a slash
        try:
            index_of_parantheses = element.index('(')
        except ValueError:
            index_of_parantheses = -1

        if index_of_parantheses >= 0:
            roles = element[:element.index('(')]
            roles = roles.split('/')
            position = element[element.index('('):]
            # print("Position: ", position)

            for role in roles:
                all_positions.append(f"{role.strip()} {position}")


        else:
            all_positions.append(f"{element.strip()}")

    # Print the result
    return all_positions

In [88]:
import re

all_positions = []

for i in fm23Original["Position"]:
    positions = get_unique_positions(i)
    for pos in positions:
        if pos not in all_positions:
            all_positions.append(pos)

all_positions

# Example: 'WB/M/AM (RL)'
# 1. if there is a shlash / -> extract (RL)
# 2. split 'WB/M/AM' by slash
# 3. add '(RL)' for each element

['D (C)',
 'ST (C)',
 'M (L)',
 'AM (RLC)',
 'AM (L)',
 'WB (RL)',
 'M (RL)',
 'AM (RL)',
 'DM',
 'M (C)',
 'AM (C)',
 'M (LC)',
 'AM (LC)',
 'D (RLC)',
 'D (LC)',
 'M (RLC)',
 'AM (R)',
 'WB (L)',
 'D (L)',
 'GK',
 'D (R)',
 'WB (R)',
 'M (R)',
 'AM (RC)',
 'M (RC)',
 'D (RC)',
 'D (RL)']

In [84]:
len(all_positions)

27

In [25]:
fm23 = fm23Original.copy()
print(fm23.head())
list(fm23.columns.values) #lots of whitespace

    UID           Inf    Name                                 \
0        831079          Giorgio Chiellini
1       2105510          Hulk
2      78000335          Luis Suárez
3        962988   Ret    Gonzalo Higuaín
4      19007730          Alex Teixeira

    DoB                          Nat   \
0   14/8/1984 (37 years old)     ITA
1   25/7/1986 (35 years old)     BRA
2   24/1/1987 (35 years old)     URU
3   10/12/1987 (34 years old)    ARG
4   6/1/1990 (32 years old)      BRA

    Division                                        \
0   Major League Soccer
1   Brazilian National First Division
2   Uruguayan First Division
3   Major League Soccer
4   Brazilian National Second Division

    Club                            Based                                 \
0   LAFC                            U.S.A. (MLS)
1   ATM                             Brazil (First Division)
2   Nacional                        Uruguay (First Division)
3   Inter Miami                     U.S.A. (MLS)
4   VDG                             Brazil (Second Division)

    Preferred Foot    Right Foot      ...  Ref   TRO   Sta   Str    Tck   \
0   Left Only         Weak            ...     1     2    10    14     18
1   Left              Reasonable      ...     2     1    15    18      8
2   Right             Very Strong     ...     1     3    10    14      9
3   Right             Very Strong     ...     1     3    10    16      8
4   Right             Very Strong     ...     1     3    11     7      5

   Tea   Tec   Thr   Vis   Wor
0    17     8     4     7    15
1     8    15     3    14    11
2    13    15     3    15     9
3    10    16     1    14    10
4    10    16     2    11    10

[5 rows x 74 columns]

[' UID        ',
 ' Inf ',
 ' Name                               ',
 ' DoB                       ',
 ' Nat ',
 ' Division                                      ',
 ' Club                         ',
 ' Based                               ',
 ' Preferred Foot ',
 ' Right Foot    ',
 ' Left Foot     ',
 ' Position                        ',
 ' Height ',
 ' Weight ',
 ' Age ',
 ' Transfer Value  ',
 ' Wage           ',
 ' AT Apps ',
 ' AT Gls ',
 ' Team ',
 ' Caps ',
 ' Yth Apps ',
 ' Style        ',
 ' Rc Injury                  ',
 ' Best Role               ',
 ' Best Duty ',
 ' Best Pos ',
 ' Acc ',
 ' Aer ',
 ' Agg ',
 ' Agi ',
 ' Ant ',
 ' Bal ',
 ' Bra ',
 ' Cmd ',
 ' Com ',
 ' Cmp ',
 ' Cnt ',
 ' Cor ',
 ' Cro ',
 ' Dec ',
 ' Det ',
 ' Dri ',
 ' Ecc ',
 ' Fin ',
 ' Fir ',
 ' Fla ',
 ' Fre ',
 ' Han ',
 ' Hea ',
 ' Jum ',
 ' Kic ',
 ' Ldr ',
 ' Lon ',
 ' L Th ',
 ' Mar ',
 ' Nat .1',
 ' OtB ',
 ' 1v1 ',
 ' Pac ',
 ' Pas ',
 ' Pen ',
 ' Pos ',
 ' Pun ',
 ' Ref ',
 ' TRO ',
 ' Sta ',
 ' Str ',
 ' Tck ',
 ' Tea ',
 ' Tec ',
 ' Thr ',
 ' Vis ',
 ' Wor ']

In [26]:
# strip column names from outer whitespace
fm23.columns = fm23.columns.str.strip()

# remove all but the following columns:
# Name, DoB, Age, Nat, Division, Club, Weight, Height, Position, Wage, Style, Tansfer_value, Preferred Foot, Best Role
fm23 = fm23.drop(columns = ['Inf', 'Based', 'Right Foot', 'Left Foot', 'AT Apps', 'AT Gls', 'Team',
       'Caps', 'Yth Apps', 'Rc Injury', 'Best Duty','Best Pos', 'Acc', 'Aer', 'Agg', 'Agi', 'Ant', 'Bal', 'Bra', 'Cmd',
       'Com', 'Cmp', 'Cnt', 'Cor', 'Cro', 'Dec', 'Det', 'Dri', 'Ecc', 'Fin',
       'Fir', 'Fla', 'Fre', 'Han', 'Hea', 'Jum', 'Kic', 'Ldr', 'Lon', 'L Th',
       'Mar', 'Nat .1', 'OtB', '1v1', 'Pac', 'Pas', 'Pen', 'Pos', 'Pun', 'Ref',
       'TRO', 'Sta', 'Str', 'Tck', 'Tea', 'Tec', 'Thr', 'Vis', 'Wor'])
print(fm23.columns)
print(fm23.head())

Index(['UID', 'Name', 'DoB', 'Nat', 'Division', 'Club', 'Preferred Foot',
       'Position', 'Height', 'Weight', 'Age', 'Transfer Value', 'Wage',
       'Style', 'Best Role'],
      dtype='object')
        UID                                  Name  \
0    831079   Giorgio Chiellini
1   2105510   Hulk
2  78000335   Luis Suárez
3    962988   Gonzalo Higuaín
4  19007730   Alex Teixeira

                           DoB    Nat  \
0   14/8/1984 (37 years old)     ITA
1   25/7/1986 (35 years old)     BRA
2   24/1/1987 (35 years old)     URU
3   10/12/1987 (34 years old)    ARG
4   6/1/1990 (32 years old)      BRA

                                          Division  \
0   Major League Soccer
1   Brazilian National First Division
2   Uruguayan First Division
3   Major League Soccer
4   Brazilian National Second Division

                             Club    Preferred Foot  \
0   LAFC                            Left Only
1   ATM                             Left
2   Nacional                        Right
3   Inter Miami                     Right
4   VDG                             Right

                            Position    Height    Weight  Age  \
0   D (C)                              187 cm    85 kg     37
1   AM (R), ST (C)                     179 cm    95 kg     35
2   ST (C)                             182 cm    86 kg     35
3   ST (C)                             184 cm    89 kg     34
4   AM (LC), ST (C)                    173 cm    69 kg     32

      Transfer Value              Wage           Style  \
0   Not for Sale       €90,500 p/m       Leader
1   Not for Sale       €259,000 p/m      Physical
2   €65K - €650K       €35,000 p/m       Technical
3   €90K - €900K       €487,000 p/m      Intelligent
4   €275K - €2.9M      €128,000 p/m      Technical

                   Best Role
0   Central Defender
1   Inverted Winger
2   Deep Lying Forward
3   Deep Lying Forward
4   Inverted Winger

In [29]:
fm23 = fm23.astype({'Division': 'string', 'DoB': 'string', 'Nat': 'string', 'Name': 'string', 'Club': 'string', 'Preferred Foot': 'string', 'Position': 'string', 'Height': 'string', 'Weight': 'string', 'Transfer Value': 'string', 'Wage': 'string', 'Style': 'string', 'Best Role': 'string'})
fm23.dtypes

UID                int64
Name              string
DoB               string
Nat               string
Division          string
Club              string
Preferred Foot    string
Position          string
Height            string
Weight            string
Age                int64
Transfer Value    string
Wage              string
Style             string
Best Role         string
dtype: object

In [39]:
# strip all entries from leading and trailing whitespace
fm23 = fm23.applymap(lambda x: x.strip() if isinstance(x, str) else x)
# check if strip actually worked and no results are returned in the case of division
fm23[fm23['Division']==" Major League Soccer                           "]

Empty DataFrame
Columns: [UID, Name, DoB, Nat, Division, Club, Preferred Foot, Position, Height, Weight, Age, Transfer Value, Wage, Style, Best Role]
Index: []

In [40]:
leagues = ["Turkish Super League",
"Bundesliga",
"Bundesliga 2",
"Saudi Professional League",
"Jupiler Pro League",
"Italian Serie A",
"Italian Serie B",
"3. Liga",
"Ligue 1 Uber Eats",
"Ligue 2 BKT",
"Eredivisie",
"Portuguese Premier League",
"Major League Soccer",
"Chinese Super League",
"Sky Bet Championship",
"English Premier Division",
"Spanish First Division",
"Spanish Second Division"]

fm23_sub = fm23[fm23['Division'].isin(leagues)] 
fm23_sub

,UID,Name,DoB,Nat,Division,Club,Preferred Foot,Position,Height,Weight,Age,Transfer Value,Wage,Style,Best Role
0,831079,Giorgio Chiellini,14/8/1984 (37 years old),ITA,Major League Soccer,LAFC,Left Only,D (C),187 cm,85 kg,37,Not for Sale,"€90,500 p/m",Leader,Central Defender
3,962988,Gonzalo Higuaín,10/12/1987 (34 years old),ARG,Major League Soccer,Inter Miami,Right,ST (C),184 cm,89 kg,34,€90K - €900K,"€487,000 p/m",Intelligent,Deep Lying Forward
7,5132312,Gareth Bale,16/7/1989 (32 years old),WAL,Major League Soccer,LAFC,Left,"M (L), AM (RLC), ST (C)",185 cm,82 kg,32,€550K - €5.6M,"€135,000 p/m",Creative,Inverted Winger
8,51000001,Carlos Vela,1/3/1989 (33 years old),MEX,Major League Soccer,LAFC,Left Only,"AM (RLC), ST (C)",178 cm,74 kg,33,Not for Sale,"€340,000 p/m",Creative,Inverted Winger
9,43043933,Lorenzo Insigne,4/6/1991 (31 years old),ITA,Major League Soccer,Toronto FC,Right,"AM (L), ST (C)",163 cm,59 kg,31,Not for Sale,"€1,176,000 p/m",Creative,Inverted Winger
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189262,2000225262,José Bolivar,26/8/2005 (16 years old),VEN,Portuguese Premier League,VTSC,Right,GK,190 cm,80 kg,16,0,€275 p/m,Assertive,Sweeper Keeper
189265,2000225265,Franck-Loïc Zoumessi,20/1/2004 (18 years old),CAN,Portuguese Premier League,BRG,Right,M/AM (R),197 cm,87 kg,18,0,€275 p/m,Leader,Winger
189266,2000225266,Guilherme Costa,3/9/2005 (16 years old),BRA,Portuguese Premier League,BRG,Right,AM (C),171 cm,58 kg,16,€0 - €60K,€275 p/m,Creative,Attacking Midfielder
189267,2000225267,Steven Roßbach,19/8/2004 (17 years old),GER,Portuguese Premier League,VIZ,Right Only,D (C),193 cm,79 kg,17,€500 - €3.5K,€275 p/m,Technical,Central Defender
189312,83140344,Rúben Peres,8/1/1996 (26 years old),POR,Portuguese Premier League,PTM,Right Only,GK,186 cm,77 kg,26,0,N/A,Assertive,Goalkeeper

In [41]:
#double check
unique_leagues = fm23_sub['Division'].unique()
print(unique_leagues)

['Major League Soccer' 'Bundesliga' 'Eredivisie' 'Jupiler Pro League'
 'Bundesliga 2' '3. Liga' 'Italian Serie A' 'Italian Serie B'
 'Turkish Super League' 'Chinese Super League' 'Saudi Professional League'
 'English Premier Division' 'Sky Bet Championship' 'Ligue 1 Uber Eats'
 'Spanish First Division' 'Portuguese Premier League'
 'Spanish Second Division' 'Ligue 2 BKT']

In [45]:
fm23_sub.to_csv("fm23_semi_preprocessed.csv", index=False)